$FONT: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
$TRANSITION: 0.2s ease;
$WHITE_COLOR: #ffffff;
$ITEM_VALUE_COLOR: #b2b5c1;
$ITEM_HOVER_COLOR: #f6f7fc;
$ITEM_ACTIVE_COLOR: #3d5af1;
$HEADER_ACTIVE_COLOR: #f4f4f4;
$HEADER_BORDER_COLOR: #d1d1d1;
$HEADER_VALUE_COLOR: #464956;
$HEADER_HEIGHT: 60px;

.v-select {
  position: relative;
  font-family: $FONT;
  user-select: none;

  &.is-active:not(.is-empty) {
    .ms-select__dropdown {
      opacity: 1;
      visibility: visible;
    }

    .ms-select__header {
      background: $HEADER_ACTIVE_COLOR;
      border-radius: 8px 8px 0 0;

      &-icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: $HEADER_HEIGHT;
    background: $WHITE_COLOR;
    border: 1px solid $HEADER_BORDER_COLOR;
    border-radius: 8px;
    cursor: pointer;

    &-value {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: $HEADER_VALUE_COLOR;
    }

    &-icon {
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-50%);
      transition: $TRANSITION;
    }
  }

  &__dropdown {
    position: absolute;
    top: $HEADER_HEIGHT;
    left: 0;
    width: 100%;
    max-height: 224px;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: $TRANSITION;
    background: $WHITE_COLOR;
    overflow-y: auto;
    border-radius: 0 0 8px 8px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $ITEM_VALUE_COLOR;
    background: $WHITE_COLOR;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: $TRANSITION;

    &:hover {
      background: $ITEM_HOVER_COLOR;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      color: $ITEM_ACTIVE_COLOR;
      opacity: 0;
      transition: $TRANSITION;
    }

    &.is-checked {
      font-weight: 700;
      color: $ITEM_ACTIVE_COLOR;

      &::before {
        opacity: 1;
      }
    }
  }
}